body {
	padding: 0;
	margin: 0;
	background-color: #331322;
	font-size: 12px;
	color: #ffe7f4;
	line-height: 170%;
}

hr {
	background-color: #c45a94;
	height: 2px;
	border: 0;
}

a,
a:link,
a:visited,
a:active,
.linkOn,
.linkOff {
	color: #fff6fb;
	text-decoration: none;
	background: #c94f8b;
	border: 1px solid #5d1739;
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor: default;
}

a.nobg,
a.nobg:link,
a.nobg:visited,
a.nobg:active {
	color: #ffffff;
	text-decoration: none;
	background: transparent;
	border: none;
	padding: 0px;
	margin: 0px;
	cursor: default;
	font-weight: bold;
}
a.nobg:hover {
	color: #ff8fbe;
}

a:hover {
	color: #7a1d49;
	background: #fff0f8;
}

a.red {
	background: #b33674;
}

a.red:hover {
	color: #fff6fb;
	background: #ff5fa9;
}

a.green {
	background: #c04b83;
}

a.green:hover {
	color: #fff6fb;
	background: #f06dad;
}

a.white,
a.white:link,
a.white:visited,
a.white:active {
	color: #9b275c;
	text-decoration: none;
	background: #fff2f8;
	border: 1px solid #5d1739;
	padding: 1px 4px 1px 4px;
	margin: 0 2px 0 0;
	cursor: default;
}

a.white:hover {
	color: #fff6fb;
	background: #c94f8b;
}

.linkOn,
a.linkOn:link,
a.linkOn:visited,
a.linkOn:active,
a.linkOn:hover {
	color: #fff6fb;
	background: #ff5fa9;
	border-color: #8d2857;
}

.linkOff,
a.linkOff:link,
a.linkOff:visited,
a.linkOff:active,
a.linkOff:hover {
	color: #fff6fb;
	background: #8d5c76;
	border-color: #5d1739;
}

a.icon,
.linkOn.icon,
.linkOff.icon {
	position: relative;
	padding: 1px 4px 2px 20px;
}

a.icon img,
.linkOn.icon img {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
}

ul {
	padding: 4px 0 0 10px;
	margin: 0;
	list-style-type: none;
}

li {
	padding: 0 0 2px 0;
}

img,
a img {
	border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 16px 0 8px 0;
	color: #ffb3d4;
}

h1 {
	font-size: 15px;
}

h2 {
	font-size: 14px;
}

h3 {
	font-size: 13px;
}

h4 {
	font-size: 12px;
}

.uiWrapper {
	width: 100%;
	height: 100%;
	padding-top: 32px;
}

.uiTitle {
	clear: both;
	padding: 6px 8px 6px 8px;
	border-bottom: 2px solid #5d1739;
	background: #b23f7f;
	color: #fff3fa;
	font-size: 16px;
}

.uiTitleWrapper {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}

.uiTitleButtons {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 32px;
	z-index: 11;
}

.uiTitle.icon {
	padding: 6px 8px 6px 42px;
	background-position: 2px 50%;
	background-repeat: no-repeat;
}

.uiContent {
	clear: both;
	padding: 8px;
	font-family: Verdana, Geneva, sans-serif;
	background-color: #331322;
	color: #ffe7f4;
}

.good {
	color: #00ff00;
}

.average {
	color: #d09000;
}

.bad {
	color: #ff0000;
}

.highlight {
	color: #ffb3d4;
}

.dark {
	color: #272727;
}

.notice {
	position: relative;
	background: #ffd5e8;
	color: #6d1840;
	font-size: 10px;
	font-style: italic;
	padding: 2px 4px 0 4px;
	margin: 4px;
}

.notice.icon {
	padding: 2px 4px 0 20px;
}

.notice img {
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
}

div.notice {
	clear: both;
}

.statusDisplay {
	background: #3a1028;
	color: #fff6fb;
	border: 1px solid #c94f8b;
	padding: 4px;
	margin: 3px 0;
}

.statusLabel {
	width: 138px;
	float: left;
	overflow: hidden;
	color: #98b0c3;
}

.statusValue {
	float: left;
}

.block {
	padding: 8px;
	margin: 10px 4px 4px 4px;
	border: 1px solid #40628a;
	background-color: #202020;
}

.block h3 {
	padding: 0;
}

.progressBar {
	width: 240px;
	height: 14px;
	border: 1px solid #666666;
	float: left;
	margin: 0 5px;
	overflow: hidden;
}

.progressFill {
	width: 100%;
	height: 100%;
	background: #40628a;
	overflow: hidden;
}

.progressFill.good {
	color: #ffffff;
	background: #00ff00;
}

.progressFill.average {
	color: #ffffff;
	background: #d09000;
}

.progressFill.bad {
	color: #ffffff;
	background: #ff0000;
}

.progressFill.highlight {
	color: #ffffff;
	background: #8ba5c4;
}

.clearBoth {
	clear: both;
}

.clearLeft {
	clear: left;
}

.clearRight {
	clear: right;
}

.line {
	width: 100%;
	clear: both;
}
.charPreview {
	-ms-interpolation-mode: nearest-neighbor; /* Remove with Byond 516 */
	image-rendering: pixelated;
	width: 64px;
	height: 64px;
}

.typing:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	animation: ellipsis steps(4, end) 900ms infinite;
	content: '\2026';
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}
