@use 'sass:meta';

.theme-paradise:root {
  // Base
  --color-base: hsl(329, 44%, 20%);
  --color-section: hsl(329, 35%, 16%);
  --color-base-start: hsl(329, 58%, 28%);
  --color-base-end: hsl(329, 48%, 18%);
  --color-primary: hsl(329, 72%, 60%);
  --color-label: hsl(330, 45%, 78%);

  // Components
  --reconnect-background: hsl(341, 78%, 56%);
  --reconnect-text: var(--color-text-fixed-white);
  --input-border-color: hsl(329, 76%, 62%);
  --button-background-selected: hsl(329, 76%, 62%);
  --button-background-danger: hsl(347, 82%, 57%);

  // Goonchat styles
  @include meta.load-css('../tgchat/chat-paradise.scss');
}
