.theme-adminpink:root {
  --color-base: hsl(329, 34%, 17%);
  --color-primary: hsl(329, 76%, 62%);
  --color-secondary: hsl(335, 44%, 28%);
  --color-border-primary: hsl(from var(--color-primary) h s l / 0.75);
  --base-gradient-spread: 5;

  --button-background-default: hsl(332, 46%, 31%);
  --button-background-selected: hsl(326, 82%, 58%);
  --button-background-caution: hsl(24, 92%, 58%);
  --button-background-danger: hsl(347, 82%, 57%);
  --notice-box-background: hsl(329, 52%, 26%);
  --notice-box-color: var(--color-text-fixed-white);
  --tab-background-selected: hsl(329, 43%, 24%);
  --titlebar-background: hsl(329, 44%, 24%);
  --tooltip-background-lightness: 22;

  .Layout__content {
    background-image: none !important;
    background-color: hsl(329, 34%, 17%);
  }

  .Window__contentPadding,
  .Section {
    background-image: none !important;
  }

  .Section {
    background-color: hsl(329, 32%, 16%);
  }
}
